body {
    font-family: Roboto, sans-serif;
    color: #333;
    background-color: #f0f9ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

.tip {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tip h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


/* Estilos generales para dispositivos móviles */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 90%;
    }

    nav ul {
        text-align: left;
    }

    nav li {
        margin: 5px 0;
    }

    section {
        padding: 10px;
    }

    .tip {
        margin-bottom: 5px;
    }
}

/* Estilos específicos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    section {
        padding: 20px;
    }

    .tip {
        margin-bottom: 10px;
    }
}
